@charset "UTF-8";
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
:root {
  --margin-top: 4rem; }
  @media only screen and (max-width: 76.875em) {
    :root {
      --margin-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    :root {
      --margin-top: 1rem; } }

.navbar {
  grid-row: 1 / -1;
  grid-column: navbar-start / navbar-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0.5rem;
  width: 13rem;
  height: 100%;
  background-color: #1e2761;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out; }
  @media only screen and (max-width: 31.25em) {
    .navbar {
      transform: scalex(0);
      transform-origin: right;
      padding-top: 2rem;
      width: 20rem; } }
  .navbar:hover {
    width: 15rem; }
    @media only screen and (max-width: 31.25em) {
      .navbar:hover {
        width: 20rem; } }
  .navbar-box:hover ~ .navbar-hover {
    width: 100% !important; }
    .navbar-box:hover ~ .navbar-hover > * {
      visibility: visible; }
  .navbar__img {
    width: 85%;
    transition: all 0.2s;
    background-size: cover; }
    @media only screen and (max-width: 31.25em) {
      .navbar__img {
        width: 15rem; } }
  .navbar-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .navbar-box__link, .navbar-box__link:visited, .navbar-box__link:link {
      text-decoration: none;
      font-family: font-header;
      color: #7a2048;
      font-size: 2rem;
      color: #fff;
      padding: 2rem 3rem;
      transition: all 0.2s; }
      .navbar-box__link:hover, .navbar-box__link:visited:hover, .navbar-box__link:link:hover {
        transform: scale(1.1);
        backface-visibility: hidden;
        background-color: #7a2048;
        color: #f2f2f2; }
  .navbar .navbar-hover {
    width: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    height: max-content;
    width: 15rem;
    background-color: #408ec6;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 15;
    transition: width 0.2s 0.2s; }
    .navbar .navbar-hover:hover {
      width: 100% !important; }
      .navbar .navbar-hover:hover > * {
        visibility: visible; }
    .navbar .navbar-hover > * {
      visibility: hidden; }
    .navbar .navbar-hover__link {
      text-decoration: none;
      font-family: font-header;
      color: #7a2048; }
      .navbar .navbar-hover__link, .navbar .navbar-hover__link:visited, .navbar .navbar-hover__link:link {
        text-decoration: none;
        font-family: font-header;
        color: #7a2048;
        font-family: font-text;
        font-size: 1.8rem;
        color: #fff;
        padding: 1rem 2rem;
        transition: color 0.2s, visibility 0.1s 0.4s; }
        .navbar .navbar-hover__link:hover, .navbar .navbar-hover__link:visited:hover, .navbar .navbar-hover__link:link:hover {
          color: #1e2761; }

.news__last {
  grid-row: col-start 1 / col-end 1;
  grid-column: col-start 1 / col-end 1; }
  @media only screen and (max-width: 87.5em) {
    .news__last {
      grid-row: col-start 4 / col-end 4; } }
  @media only screen and (max-width: 56.25em) {
    .news__last {
      grid-row: col-start 2 / col-end 2;
      grid-column: col-start 1 / col-end 3; } }

.news__shire {
  grid-row: col-start 1 / col-end 1;
  grid-column: col-start 4 / col-end 4; }
  @media only screen and (max-width: 87.5em) {
    .news__shire {
      grid-row: col-start 4 / col-end 4;
      grid-column: col-start 2 / col-end 2; } }
  @media only screen and (max-width: 68.75em) {
    .news__shire {
      grid-column: col-start 2 / col-end 3; } }
  @media only screen and (max-width: 56.25em) {
    .news__shire {
      grid-row: col-start 4 / col-end 4;
      grid-column: col-start 1 / col-end 3; } }

.news__best {
  grid-row: header-start / header-end;
  grid-column: col-start 1 / col-end 3; }

.news__notif {
  grid-row: header-start / header-end;
  grid-column: col-start 4 / col-end 4; }
  @media only screen and (max-width: 87.5em) {
    .news__notif {
      grid-row: col-start 4 / col-end 4;
      grid-column: col-start 3 / col-end 3; } }
  @media only screen and (max-width: 68.75em) {
    .news__notif {
      grid-row: col-start 3 / col-end 3;
      grid-column: col-start 3 / col-end 3; } }
  @media only screen and (max-width: 56.25em) {
    .news__notif {
      grid-row: col-start 3 / col-end 3;
      grid-column: col-start 1 / col-end 3; } }

.news__box {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 8rem;
  grid-row-gap: 1.2rem;
  justify-content: center;
  justify-items: flex-start;
  align-items: center;
  border-top: 3px solid #7a2048;
  margin-top: var(--margin-top);
  padding: 0 1rem; }
  .news__box__h1 {
    grid-column: 1 / 2;
    justify-self: flex-start;
    font-size: 2.5rem;
    color: #1e2761;
    font-family: font-header; }
  .news__box__btn {
    grid-column: 3 / 4;
    justify-self: flex-end; }
  .news__box__container {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    backface-visibility: hidden; }
    .news__box__container:hover {
      transform: scale(1.1);
      box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.1); }
      @media only screen and (max-width: 56.25em) {
        .news__box__container:hover {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          transform: unset; } }
    .news__box__container img {
      width: 6rem;
      height: 6rem;
      border: 1px solid #fff;
      border-radius: 4px;
      object-fit: cover;
      background-size: cover; }
    .news__box__container .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem; }
      .news__box__container .box h2 {
        font-family: font-text;
        font-size: 1.5rem;
        line-height: 1; }
        @media only screen and (max-width: 87.5em) {
          .news__box__container .box h2 {
            line-height: unset; } }
      .news__box__container .box .text-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        font-family: font-main; }
        .news__box__container .box .text-box a {
          text-decoration: none;
          font-family: font-header;
          color: #7a2048;
          font-size: 1.5rem; }

.news__best {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-template-rows: 6rem;
  grid-auto-rows: 35rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  backface-visibility: hidden;
  border-top: 3px solid #7a2048;
  margin-top: var(--margin-top);
  grid-gap: 2rem;
  padding: 2rem 1rem; }
  @media only screen and (max-width: 100em) {
    .news__best {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  @media only screen and (max-width: 87.5em) {
    .news__best {
      grid-auto-rows: 40rem; } }
  .news__best--box {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .news__best__h1 {
    font-size: 2.5rem;
    color: #1e2761;
    font-family: font-header;
    justify-self: flex-start; }
  .news__best__btn {
    justify-self: flex-end; }
  .news__best__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    backface-visibility: hidden; }
    .news__best__container:hover {
      transform: scale(1.02);
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.25); }
    .news__best__container img {
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 60%;
      background-repeat: no-repeat;
      object-fit: cover; }
    .news__best__container h2 {
      padding: 1rem 2rem;
      font-family: font-text;
      font-size: 2rem; }
    .news__best__container .text-box {
      margin-top: -1rem;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-self: stretch;
      align-items: center; }
      .news__best__container .text-box .date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        font-family: font-main; }
      .news__best__container .text-box a {
        text-decoration: none;
        font-family: font-header;
        color: #7a2048;
        font-size: 1.5rem; }

.news__notif {
  border-top: 3px solid #7a2048;
  margin-top: var(--margin-top);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 5rem;
  grid-row-gap: 2rem;
  padding: 2rem 1rem; }
  .news__notif h1 {
    font-size: 2.5rem;
    color: #1e2761;
    font-family: font-header;
    grid-column: 1 / 2; }
  .news__notif__btn {
    grid-column: 2 / 3;
    justify-self: flex-end; }
  .news__notif__container {
    grid-column: 1 / -1;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0; }
    .news__notif__container:hover {
      transform: scale(1.1);
      box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.1); }
      @media only screen and (max-width: 56.25em) {
        .news__notif__container:hover {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          transform: unset; } }
    .news__notif__container h2 {
      font-family: font-text;
      font-size: 1.5rem; }
      @media only screen and (max-width: 87.5em) {
        .news__notif__container h2 {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 56.25em) {
        .news__notif__container h2 {
          font-size: 1.5rem; } }
    .news__notif__container .date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      font-family: font-main; }
    .news__notif__container a {
      text-decoration: none;
      font-family: font-header;
      color: #7a2048;
      font-size: 1.5rem; }

.gallery {
  grid-row: col-start 3 / col-end 3;
  grid-column: col-start 1 / col-end 4;
  height: 70rem;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  margin-top: var(--margin-top);
  background: linear-gradient(to top right, rgba(30, 39, 97, 0.8), rgba(122, 32, 72, 0.6)); }
  @media only screen and (max-width: 87.5em) {
    .gallery {
      grid-row: col-start 5 / col-end 5;
      grid-column: col-start 1 / col-end 3; } }
  .gallery-container {
    position: relative; }
    .gallery-container > *:hover ~ *:not(:hover) {
      transform: scale(0.9); }
    .gallery-container > * {
      transition: all 0.2s;
      outline-offset: 0.6rem;
      position: absolute;
      width: 30%;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
      .gallery-container > *:hover {
        transform: scale(1.1) translateY(-3px);
        outline: 1rem rgba(122, 32, 72, 0.7) solid;
        outline-style: inset;
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
        z-index: 5; }
    .gallery-container-1 {
      left: 27%;
      top: 24rem;
      z-index: 2; }
    .gallery-container-2 {
      z-index: 3;
      right: 23%;
      top: 14rem; }
    .gallery-container-3 {
      z-index: 4;
      top: 2rem;
      left: 43rem; }

/* animation */
.main-page {
  display: grid;
  grid-template-rows: [img-start] 25vh [img-end header-start] min-content [header-end] repeat(3, [col-start] min-content [col-end]);
  grid-template-columns: [navbar-start] 8rem [navbar-end full-start] minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 45rem) [col-end]) minmax(6rem, 1fr) [full-end];
  grid-column-gap: var(--margin-top); }
  @media only screen and (max-width: 87.5em) {
    .main-page {
      grid-template-rows: [img-start] 18rem [img-end header-start] min-content [header-end] repeat(4, [col-start] min-content [col-end]);
      grid-template-columns: [navbar-start] 8rem [navbar-end full-start] minmax(4rem, 1fr) repeat(3, [col-start] minmax(min-content, 45rem) [col-end]) minmax(4rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 76.875em) {
    .main-page {
      grid-template-columns: [navbar-start] 8rem [navbar-end full-start] minmax(1rem, 1fr) repeat(3, [col-start] minmax(min-content, 45rem) [col-end]) minmax(1rem, 1fr) [full-end];
      padding-right: 2rem;
      grid-column-gap: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .main-page {
      grid-template-rows: [img-start] 12rem [img-end header-start] min-content [header-end] repeat(6, [col-start] min-content [col-end]); } }
  @media only screen and (max-width: 31.25em) {
    .main-page {
      grid-template-columns: [navbar-start navbar-end full-start] minmax(1rem, 1fr) repeat(3, [col-start] minmax(min-content, 45rem) [col-end]) minmax(1rem, 1fr) [full-end];
      padding: 0; } }
  @media only screen and (max-width: 25em) {
    .main-page {
      grid-template-rows: [img-start] 15rem [img-end header-start] min-content [header-end] repeat(6, [col-start] min-content [col-end]); } }

.header-main {
  grid-row: img-start / img-end;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 0; }
  @media only screen and (max-width: 25em) {
    .header-main {
      padding: 0;
      flex-direction: column; } }
  .header-main__img {
    border-radius: 50%;
    width: 25rem; }
    @media only screen and (max-width: 68.75em) {
      .header-main__img {
        width: 18rem; } }
    @media only screen and (max-width: 56.25em) {
      .header-main__img {
        width: 14rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-main__img {
        width: 12rem; } }
    @media only screen and (max-width: 25em) {
      .header-main__img {
        width: 10rem; } }
  .header-main h1 {
    margin-right: var(--margin-top);
    font-size: 7rem;
    font-family: font-header;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #408ec6, #1e2761); }
    @media only screen and (max-width: 68.75em) {
      .header-main h1 {
        font-size: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .header-main h1 {
        font-size: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-main h1 {
        font-size: 3rem; } }

.btn {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: #7a2048;
  color: #f2f2f2;
  font-size: 2rem;
  font-family: font-main;
  height: 5rem;
  width: max-content; }
  .btn:hover {
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15);
    transform: translatey(-3px);
    color: #fff; }
  .btn:focus {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    transform: translatey(-1px); }

.header__img {
  grid-row: col-start 1 / col-end 1;
  grid-column: col-start 2 / col-end 3;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  background-position: top;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  margin-top: var(--margin-top); }
  @media only screen and (max-width: 87.5em) {
    .header__img {
      grid-row: col-start 3 / col-end 3;
      grid-column: col-start 1 / col-end 3; } }
  @media only screen and (max-width: 68.75em) {
    .header__img {
      grid-column: col-start 1 / col-end 2; } }
  @media only screen and (max-width: 56.25em) {
    .header__img {
      grid-row: col-start 1 / col-end 1;
      grid-column: col-start 1 / col-end 3; } }

.footer {
  grid-column: full-start / full-end;
  grid-row: col-start 4 / col-end 4;
  height: 5rem;
  margin-top: var(--margin-top);
  text-align: center;
  background-color: #1e2761;
  align-self: center;
  padding: 1rem 0; }
  @media only screen and (max-width: 87.5em) {
    .footer {
      grid-row: col-start 6 / col-end 6; } }
  .footer__copyright {
    font-size: 2rem;
    font-family: font-header;
    color: #fff; }
    @media only screen and (max-width: 25em) {
      .footer__copyright {
        font-size: 1.5rem; } }

.checkbox {
  display: none; }
  .checkbox__btn {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 4rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
    z-index: 30;
    transition: all 0.2s; }
    @media only screen and (max-width: 31.25em) {
      .checkbox__btn {
        display: flex; } }
    .checkbox__btn span {
      position: relative;
      width: 3rem;
      height: 1px;
      background-color: #7a2048;
      transition: all 0.2s;
      display: inline-block; }
      .checkbox__btn span::after, .checkbox__btn span::before {
        content: "";
        transition: all 0.2s;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background-color: #7a2048;
        transform-origin: center; }
      .checkbox__btn span::after {
        bottom: 1rem; }
      .checkbox__btn span::before {
        top: 1rem; }
  .checkbox:checked:checked ~ .checkbox__btn span {
    background-color: transparent; }
    .checkbox:checked:checked ~ .checkbox__btn span::after {
      transform: rotate(-135deg);
      top: 0; }
    .checkbox:checked:checked ~ .checkbox__btn span::before {
      transform: rotate(135deg);
      top: 0; }
  .checkbox:checked:checked ~ .navbar {
    transform: scaleX(1); }

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0; }

@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main; }

@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header; }

@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text; }

@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq; }

@font-face {
  src: url(../fonts/Suls-mir-emad/Suls.ttf);
  font-family: font-nastaliq-2; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 76.875em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 46%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 44%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 42%; } }

body {
  font-family: sans-serif;
  direction: rtl; }

::selection {
  background-color: #408ec6;
  color: #fff; }

/* uniti css */
.font-sml {
  font-size: smaller; }

.font-nl {
  font: medium; }

.font-lg {
  font-size: xx-large; }

.font-llg {
  font-size: 7rem; }

.font-family-lato {
  font-family: "Lato", sans-serif; }

.font-size-rem {
  font-size: 1.5rem !important; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.background-telegram {
  background: #00dcdc; }

.img-size-position {
  background-size: cover;
  background-position: top; }

.u-center-text {
  text-align: center; }

.u-margin-bot-big {
  margin-bottom: 5rem !important; }

.u-margin-bot-med {
  margin-bottom: 2rem !important; }

.u-margin-bot-small {
  margin-bottom: 16px !important; }

.text-uppercase {
  text-transform: uppercase; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-med {
  margin-top: 3rem !important; }

.u-margin-top-2rem {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 5rem !important; }

.u-margin-top-hige {
  margin-top: 7rem !important; }

.u-font-size-2rem {
  font-size: 2rem; }

.u-padding-2rem {
  padding: 2rem; }

.u-dispaly-inline-block {
  display: inline-block; }

.position-re {
  position: relative !important; }

.position-ab {
  position: absolute !important; }

.hide-element {
  width: 0 !important;
  opacity: 0;
  pointer-events: none; }
  .hide-element > * {
    visibility: hidden;
    pointer-events: none;
    opacity: 0; }

.link-pages {
  display: grid;
  grid-template-rows: [img-start] 25vh [img-end] repeat(4, [col-start] max-content [col-end]);
  grid-template-columns: [navbar-start] 8rem [navbar-end full-start] minmax(6rem, 10rem) repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) minmax(6rem, 10rem) [full-end];
  grid-column-gap: var(--margin-top); }
  @media only screen and (max-width: 56.25em) {
    .link-pages {
      grid-template-rows: [img-start] 15rem [img-end] repeat(4, [col-start] max-content [col-end]);
      grid-template-columns: [navbar-start] 8rem [navbar-end full-start] minmax(2rem, 5rem) repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) minmax(2rem, 5rem) [full-end];
      grid-column-gap: 2rem; } }
  .link-pages--main-section {
    grid-row: col-start 1 / col-end 3;
    grid-column: col-start 1 / col-end 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid #7a2048;
    margin-top: var(--margin-top);
    padding: 1rem; }
    @media only screen and (max-width: 87.5em) {
      .link-pages--main-section {
        grid-column: col-start 1 / col-end 3;
        grid-row: col-start 1 / col-end 3; } }
    .link-pages--main-section__header {
      font-size: 2.5rem;
      color: #1e2761;
      font-family: font-header;
      color: #7a2048;
      font-size: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .link-pages--main-section__header {
          font-size: 2.5rem; } }
    .link-pages--main-section__text {
      padding: 2rem;
      font-size: 2.5rem;
      font-family: font-text;
      text-align: right; }
      @media only screen and (max-width: 87.5em) {
        .link-pages--main-section__text {
          padding: 3rem; } }
      @media only screen and (max-width: 56.25em) {
        .link-pages--main-section__text {
          padding: 2rem;
          font-size: 2rem; } }
    .link-pages--main-section__img {
      width: 80%;
      align-self: center;
      border-radius: 4px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      outline-offset: 0.6rem;
      transition: all 0.2s ease-out; }
      .link-pages--main-section__img:hover {
        transform: scale(1.01);
        outline: 0.5rem rgba(122, 32, 72, 0.7) solid;
        outline-style: inset; }
  .link-pages--last-news {
    grid-row: col -start 1 / col-end 1;
    grid-column: col-start 3 / col-end 3; }
    @media only screen and (max-width: 87.5em) {
      .link-pages--last-news {
        justify-self: center;
        grid-column: col-start 1 / col-end 3;
        grid-row: col-start 4 / col-end 4; } }
