// main colors
$color-blue-dark: #2b6777;
$color-blue-light: #c8d8e4;
$color-gray-light: #f2f2f2;
$color-green: #52ab98;

// other colors
$color-white: #fff;
$color-white-light: #f7f7f7;
$color-red: #ff0000;
$color-text-white: #f7f7f769;
$color-black: black;
$color-white-high: #ffffff;
$color-black-dark: #999;

// grid
// font
$font--main: font-main;
$font--header: font-header;
$font--text: font-text;
$font--nastaliq: font-nastaliq;
$font-nastaliq-2: font-nastaliq-2;

// shadow
$box-shadow-015: rgba($color-black, 0.15);
$box-shadow-rem-014: 0rem 1rem 4rem;
$box-shadow-def: 0 1rem 2rem rgba($color-black, 0.15);

// border radios
$border-reduis-3px: 3px;

//
$margin-top: 4rem;
