// main colors
$color-blue-dark: #1e2761;
$color-blue-light: #408ec6;
$color-gray-light: #f2f2f2;
$color-green: #7a2048;

// other colors
$color-white: #fff;
$color-white-light: #f7f7f7;
$color-red: #ff0000;
$color-text-white: #f7f7f769;
$color-black: black;
$color-white-high: #ffffff;
$color-black-dark: #999;

// grid
// font
$font--main: font-main;
$font--header: font-header;
$font--text: font-text;
$font--nastaliq: font-nastaliq;
$font-nastaliq-2: font-nastaliq-2;

// shadow
$box-shadow-015: rgba($color-black, 0.15);
$box-shadow-rem-014: 0rem 1rem 4rem;
$box-shadow-def: 0 1rem 2rem rgba($color-black, 0.15);

// border radios
$border-reduis-3px: 3px;

//
:root {
  --margin-top: 4rem;
  @include res(1230) {
    --margin-top: 2rem;
  }
  @include res(600) {
    --margin-top: 1rem;
  }
}

$margin-top: var(--margin-top);
