*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main;
}
@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header;
}
@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text;
}
@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq;
}
@font-face {
  src: url(../fonts/Suls-mir-emad/Suls.ttf);
  font-family: font-nastaliq-2;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include res(1400) {
    font-size: 55%;
  }
  @include res(1230) {
    font-size: 50%;
  }
  @include res(900) {
    font-size: 46%;
  }
  @include res(600) {
    font-size: 44%;
  }
}

body {
  font-family: sans-serif;
  direction: rtl;
}

::selection {
  background-color: $color-blue-light;
  color: $color-white;
}

// todo : style selecion and scroll
