.gallery {
  grid-row: col-start 3 / col-end 3;
  grid-column: col-start 1 / col-end 4;
  height: 70rem;

  border-radius: 4px;
  box-shadow: $box-shadow-def;
  margin-top: $margin-top;
  background: linear-gradient(
    to top right,
    rgba($color-blue-dark, 0.8),
    rgba($color-green, 0.6)
  );

  @include res(1400) {
    grid-row: col-start 5 / col-end 5;
    grid-column: col-start 1 / col-end 3;
  }

  @include res(1100) {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    align-items: center;
  }

  &__btn {
    @include res(1100) {
      align-self: flex-start;
    }
  }

  &-container {
    position: relative;
    @include res(1100) {
      grid-column: 1 / 6;
      position: unset;
      display: flex;
      width: 100%;
      align-self: flex-start;
      justify-content: center;
    }

    @include res(500) {
      align-items: center;
      flex-direction: column;
    }
    & > *:hover ~ *:not(:hover) {
      transform: scale(0.9);
      @include res(1100) {
        transform: unset;
      }
    }
    & > * {
      transition: all 0.2s;
      outline-offset: 0.6rem;
      position: absolute;
      width: 30%;
      box-shadow: $box-shadow-def;
      @include res(500) {
        width: 40%;
      }
      @include res(1100) {
        position: unset;
      }
      &:hover {
        transform: scale(1.1) translateY(-3px);
        outline: 1rem rgba($color-green, 0.7) solid;
        outline-style: inset;
        box-shadow: 0 2rem 2rem rgba($color-black, 0.3);
        z-index: 5;
      }
    }

    &-1 {
      left: 27%;
      top: 24rem;
      z-index: 2;
      @include res(1100) {
        z-index: 3;
        left: unset;
        top: unset;
      }
    }
    &-2 {
      z-index: 3;
      right: 23%;
      top: 14rem;
      @include res(1100) {
        z-index: 4;
        left: unset;
        top: unset;
      }
    }
    &-3 {
      z-index: 4;
      top: 2rem;
      left: 43rem;
      @include res(1100) {
        z-index: 3;
        left: unset;
        top: unset;
      }
    }
  }
}
