.navbar {
  grid-row: navbar-start / navbar-end;
  grid-column: full-start / full-end;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 8rem;
  padding: 2rem 0rem;
  background-color: $color-blue-dark;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  box-shadow: $box-shadow-def;

  &__link {
    &,
    &:visited,
    &:link {
      @include link;
      font-size: 2rem;
      color: $color-white;
      padding: 1rem 3rem;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
        backface-visibility: hidden;
        background-color: $color-green;
        color: $color-gray-light;
      }
    }
  }
  &__btn {
    margin-right: 2rem;
  }
}
